/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Chakra Petch", sans-serif;
  font-family: "Noto Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Rubik", sans-serif;
  background: rgb(226, 226, 226);
}
